.position--relative {
    position: relative;
}

.cursor--pointer {
    cursor: pointer;
}

.width--full {
    width: 100%;
}

.width--inherit {
    width: inherit;
}

.width--fit-content {
    width: fit-content;
}

.width--auto {
    width: auto;
}

.width--vw {
    width: 100vw;
}

.text--decoration-none {
    text-decoration: none;
}

.font--20 {
    font-size: 20px;
}






